<table border="1" colspan="10">
  <tr>
    <th>PROJECT NAME</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= link_to 'show project details', article_path(article) %></td>
      <td><%= link_to 'delete project', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to 'New Project', new_article_path %>